.cartpage {
  &__cover {
    width: 100%;
    height: 300px;

    background-image: url(https://images.pexels.com/photos/5650049/pexels-photo-5650049.jpeg);
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    @media (max-width: 490px) {
      background-position: top;
      background-size: contain;
      background-repeat: no-repeat;

      background-image: url(https://images.pexels.com/photos/5650049/pexels-photo-5650049.jpeg);
    }
  }
  &__container {
    &__row {
      &__left {
        padding: 0;
        table {
          margin: 0;
          width: 100%;
          // display: none;
        }
        .table__rows {
          .cell__span__total {
            @media (max-width: 430px) {
              display: none;
            }
          }
          .table__cells {
            height: 120px;

            img {
              height: 100%;
              object-position: center;
              object-fit: contain;
            }
            .counter__parent {
              gap: 10px;
            }
            .cell__span {
              height: 100%;
              display: flex;
              width: 100%;

              align-items: center;
              .delete__icon {
                font-size: 23px;
                color: #333;
                cursor: pointer;
              }
              .counter {
                font-size: 23px;
                color: #333;
                cursor: pointer;
              }
            }
          }
        }
      }
      &__right {
        background: whitesmoke;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column !important;
        padding: 0;
        .total__price {
          font-size: 20px;
          text-transform: uppercase;
          font-weight: bold;
          display: flex;
          justify-content: space-around;
          width: 100%;
        }
        .checkout__btn {
          text-transform: uppercase;
          padding: 13px 5px;
          background-color: #8b6d4b;
          font-weight: bold;
          width: 100%;
          color: white;
          border: 0;
          transition: 0.3s linear;
          position: relative;
          span {
            transition: 0.3s linear;
            display: inline-block;
            transition: 0.3s;
            position: absolute;
            right: 40px;
          }
          &:hover {
            background-color: #958069;
            span {
              position: absolute;
              right: 0;
            }
          }
        }
      }
    }
  }
}
