.footer__email {
  border-bottom: 1px solid #8b6d4b !important;
  color: #000 !important;
  padding: 10px 0 !important;
}
.submit__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}
